entrypoint = "index.js"
modules = ["nodejs-22", "python-3.11"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["glibcLocales", "killall"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 37823
externalPort = 4200

[[ports]]
localPort = 38339
externalPort = 3000

[[ports]]
localPort = 39779
externalPort = 3002

[[ports]]
localPort = 40711
externalPort = 3001

[[ports]]
localPort = 41651
externalPort = 3003

[workflows]
runButton = "Run server"

[[workflows.workflow]]
name = "Run server"
author = 41256440
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
